<a href="https://colab.research.google.com/github/ezgior/Persona/blob/main/ARL%20-%20Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Association Rule Recommender

In [1]:
#!pip install mlxtend
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
# çıktının tek bir satırda olmasını sağlar.
pd.set_option('display.expand_frame_repr', False)
from mlxtend.frequent_patterns import apriori, association_rules

In [7]:
df_ = pd.read_excel("sample_data/online_retail_II.xlsx", sheet_name="Year 2010-2011")
df = df_.copy()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  datetime64[ns]
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

  Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1  536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom

In [10]:
def check_df(dataframe, head=5):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(head))
    print("##################### Tail #####################")
    print(dataframe.tail(head))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

In [11]:
check_df(df)

##################### Shape #####################
(541910, 8)
##################### Types #####################
Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object
##################### Head #####################
  Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1  536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
##################### Tail #####################
       Invoice StockCode                      Description  Quantity         InvoiceDate  Price  Customer ID Country
541905  581587     22899     CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00   2.10      12680.0  France
541906  581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00   4.15      12680.0  France
541907  581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00   4.15      12680.0  France
541908  581587     22138    BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00   4.95      12680.0  France
541909  581587      POST                          POSTAGE         1 2011-12-09 12:50:00  18.00      12680.0  France
##################### NA #####################
Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64
##################### Quantiles #####################
                 0.00      0.05      0.50      0.95     0.99     1.00
Quantity    -80995.00      1.00      3.00     29.00    100.0  80995.0
Price       -11062.06      0.42      2.08      9.95     18.0  38970.0
Customer ID  12346.00  12626.00  15152.00  17905.00  18212.0  18287.0

Data can be prepared for the analysis

In [14]:

def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit

def retail_data_prep(dataframe):
    dataframe.dropna(inplace=True)
    dataframe = dataframe[~dataframe["Invoice"].str.contains("C", na=False)]
    dataframe = dataframe[dataframe["Quantity"] > 0]
    dataframe = dataframe[dataframe["Price"] > 0]
    replace_with_thresholds(dataframe, "Quantity")
    replace_with_thresholds(dataframe, "Price")
    return dataframe

In [15]:
df = retail_data_prep(df)

In [16]:

def create_invoice_product_df(dataframe, id=False):
    if id:
        return dataframe.groupby(['Invoice', "StockCode"])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)
    else:
        return dataframe.groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)

In [17]:
def check_id(dataframe, stock_code):
    product_name = dataframe[dataframe["StockCode"] == stock_code][["Description"]].values[0].tolist()
    print(product_name)

In [ ]:
apriori algorithm can create rules to show which products are bought together

In [18]:
def create_rules(dataframe, id=True, country="France"):
    dataframe = dataframe[dataframe['Country'] == country]
    dataframe = create_invoice_product_df(dataframe, id)
    frequent_itemsets = apriori(dataframe, min_support=0.01, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
    return rules

In [36]:
rules_grm = create_rules(df, country="Germany")
rules_grm.sort_values("lift", ascending=False).head(20)

                 antecedents                  consequents  antecedent support  consequent support   support  confidence       lift  leverage  conviction
39041         (21988, 21086)        (21987, 21989, 21094)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
39035         (21987, 21988)        (21086, 21989, 21094)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
39026  (21987, 21988, 21094)               (21989, 21086)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
24749         (21989, 21086)               (21987, 21988)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
39033  (21086, 21988, 21094)               (21987, 21989)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
24744         (21987, 21988)               (21989, 21086)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
24745         (21987, 21989)               (21988, 21086)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
39034  (21086, 21989, 21094)               (21987, 21988)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
39028  (21987, 21989, 21094)               (21988, 21086)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
39036         (21987, 21989)        (21086, 21988, 21094)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
24748         (21988, 21086)               (21987, 21989)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
39043         (21989, 21086)        (21987, 21988, 21094)            0.010941            0.010941  0.010941    1.000000  91.400000  0.010821         inf
49583  (21915, 22077, 22423)  (POST, 22467, 22629, 22326)            0.010941            0.013129  0.010941    1.000000  76.166667  0.010797         inf
42854         (22716, 22077)        (21915, 22037, 22326)            0.013129            0.010941  0.010941    0.833333  76.166667  0.010797    5.934354
18236         (22745, 22746)                      (22747)            0.013129            0.010941  0.010941    0.833333  76.166667  0.010797    5.934354
3749                 (22747)                      (22746)            0.010941            0.013129  0.010941    1.000000  76.166667  0.010797         inf
45655   (22352, POST, 23254)               (22331, 23255)            0.013129            0.010941  0.010941    0.833333  76.166667  0.010797    5.934354
24692         (21988, 21086)               (21989, 21094)            0.010941            0.013129  0.010941    1.000000  76.166667  0.010797         inf
18264                (22747)               (22746, 22748)            0.010941            0.013129  0.010941    1.000000  76.166667  0.010797         inf
18263                (22746)               (22747, 22748)            0.013129            0.010941  0.010941    0.833333  76.166667  0.010797    5.934354

In [20]:
product_id = 21987
check_id(df, product_id)

['PACK OF 6 SKULL PAPER CUPS']

In [46]:
def arl_recommender(rules_df, product_id, rec_count=1):
    sorted_rules = rules_df.sort_values("lift", ascending=False)
    recommendation_list = []

    for i, product in sorted_rules["antecedents"].items():
        for j in list(product):
            if j == product_id:
                recommendation_list.append(list(sorted_rules.iloc[i]["consequents"]))

    recommendation_list = list({item for item_list in recommendation_list for item in item_list})
   
    return recommendation_list[:rec_count]

In [47]:

arl_recommender(rules_grm, 21987, 1)

[21124]