<a href="https://colab.research.google.com/github/ezgior/Persona/blob/main/Hybrid_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hybrid Recommendation System

In [1]:
import pandas as pd

In [4]:
def create_user_movie_df():
    import pandas as pd
    movie = pd.read_csv('movie.csv')
    rating = pd.read_csv('rating.csv')
    df = movie.merge(rating, how="left", on="movieId")
    comment_counts = pd.DataFrame(df["title"].value_counts())
    rare_movies = comment_counts[comment_counts["title"] <= 5000].index
    common_movies = df[~df["title"].isin(rare_movies)]
    user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")
    return user_movie_df

user_movie_df = create_user_movie_df()

In [5]:
user_movie_df.head()

title   (500) Days of Summer (2009)  ...  ¡Three Amigos! (1986)
userId                               ...
1.0                             NaN  ...                    NaN
2.0                             NaN  ...                    NaN
3.0                             NaN  ...                    NaN
4.0                             NaN  ...                    NaN
5.0                             NaN  ...                    NaN

[5 rows x 1005 columns]

In [8]:
user_movie_df["10 Things I Hate About You (1999)"]

userId
1.0        NaN
2.0        NaN
3.0        NaN
4.0        NaN
5.0        NaN
            ..
138489.0   NaN
138490.0   NaN
138491.0   NaN
138492.0   NaN
138493.0   NaN
Name: 10 Things I Hate About You (1999), Length: 138476, dtype: float64

Movies watched by the user we select

In [9]:
user =108170

In [10]:
user_df = user_movie_df[user_movie_df.index == user]
movies_watched = user_df.columns[user_df.notna().any()].tolist()

In [11]:
len(movies_watched)

166

In [12]:


movies_watched_df = user_movie_df[movies_watched]
user_movie_count = movies_watched_df.T.notnull().sum()

In [13]:
user_movie_count = user_movie_count.reset_index()

user_movie_count.head()

   userId   0
0     1.0  52
1     2.0  10
2     3.0  47
3     4.0   5
4     5.0  16

In [14]:
user_movie_count.columns = ["userId", "movie_count"]
user_movie_count[user_movie_count["movie_count"] > 20].sort_values("movie_count", ascending=False)

          userId  movie_count
108159  108170.0          166
118191  118205.0          166
8403      8405.0          165
29570    29575.0          165
118740  118754.0          165
...          ...          ...
46720    46728.0           21
31292    31297.0           21
31286    31291.0           21
112074  112086.0           21
113818  113830.0           21

[53674 rows x 2 columns]

In [15]:
user_movie_count[user_movie_count["movie_count"] == len(movies_watched)].count()
users_same_movies = user_movie_count[user_movie_count["movie_count"] > len(movies_watched)*0.8]["userId"]
users_same_movies.head()

90      91.0
585    586.0
740    741.0
774    775.0
970    971.0
Name: userId, dtype: float64

In [16]:
users_same_movies.count()

527

Now we we will determine users have watched same movies with the user_id =1 

1.   In order for it, we will combine data of our user with the others 
2.   We will create correlation dataframe
Then find the most similar users

In [17]:

final_df = pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],
                      user_df[movies_watched]])

In [18]:
final_df.head()

title   2001: A Space Odyssey (1968)  ...  X2: X-Men United (2003)
userId                                ...
91.0                             2.5  ...                      3.5
586.0                            5.0  ...                      3.5
741.0                            5.0  ...                      NaN
775.0                            5.0  ...                      4.0
971.0                            3.0  ...                      3.0

[5 rows x 166 columns]

In [19]:
final_df.T.corr()

userId    91.0      586.0     741.0     ...  137686.0  138208.0  108170.0
userId                                  ...
91.0      1.000000  0.187587  0.405896  ...  0.438142  0.514921  0.327649
586.0     0.187587  1.000000  0.373718  ...  0.455062  0.325836  0.625304
741.0     0.405896  0.373718  1.000000  ...  0.458671  0.376968  0.395863
775.0     0.250998  0.364255  0.409519  ...  0.619776  0.390387  0.337146
971.0     0.271148  0.466290  0.354803  ...  0.506680  0.334044  0.432772
...            ...       ...       ...  ...       ...       ...       ...
137277.0  0.399961  0.542488  0.542344  ...  0.595278  0.525348  0.603559
137343.0  0.383098  0.485978  0.134766  ...  0.520785  0.356848  0.448986
137686.0  0.438142  0.455062  0.458671  ...  1.000000  0.571445  0.466330
138208.0  0.514921  0.325836  0.376968  ...  0.571445  1.000000  0.368640
108170.0  0.327649  0.625304  0.395863  ...  0.466330  0.368640  1.000000

[528 rows x 528 columns]

In [20]:
corr_df = final_df.T.corr().unstack().sort_values().drop_duplicates()

In [21]:
corr_df = pd.DataFrame(corr_df, columns=["corr"])

In [22]:
corr_df.index

MultiIndex([( 60159.0,  43296.0),
            ( 76540.0,  21078.0),
            (116317.0,  44530.0),
            (116317.0,  43296.0),
            ( 76540.0, 122364.0),
            ( 40285.0, 107640.0),
            ( 98687.0,  76540.0),
            ( 98687.0,  44530.0),
            (116317.0,  76540.0),
            ( 40285.0, 129420.0),
            ...
            ( 17918.0,   8405.0),
            (100992.0,   8405.0),
            ( 29056.0,  29037.0),
            (  8405.0,  25478.0),
            ( 56504.0,  56720.0),
            ( 25478.0, 100992.0),
            ( 17918.0, 100992.0),
            ( 17918.0,  25478.0),
            ( 32344.0,  68063.0),
            (108170.0, 108170.0)],
           names=['userId', 'userId'], length=138602)

In [23]:
corr_df.index.names = ['user_id_1', 'user_id_2']
corr_df.head()

                         corr
user_id_1 user_id_2
60159.0   43296.0   -0.323455
76540.0   21078.0   -0.296238
116317.0  44530.0   -0.281763
          43296.0   -0.266501
76540.0   122364.0  -0.264063

In [24]:
corr_df = corr_df.reset_index()

In [25]:
top_users = corr_df[(corr_df["user_id_1"] == user) & (corr_df["corr"] >= 0.55)][
    ["user_id_2", "corr"]].reset_index(drop=True)

In [26]:
top_users = top_users.sort_values(by='corr', ascending=False)
top_users.rename(columns={"user_id_2": "userId"}, inplace=True)

In [27]:
top_users.head()

      userId      corr
15  108170.0  1.000000
14  118254.0  0.644375
13   58170.0  0.608997
12    2669.0  0.602224
11   51227.0  0.595812

In [28]:
rating = pd.read_csv('rating.csv')
top_users_ratings = top_users.merge(rating[["userId", "movieId", "rating"]], how='inner')

In [29]:
top_users_ratings = top_users_ratings[top_users_ratings["userId"] != user]

In [30]:
top_users_ratings.head()

       userId      corr  movieId  rating
194  118254.0  0.644375        1     2.0
195  118254.0  0.644375        2     2.5
196  118254.0  0.644375        3     2.5
197  118254.0  0.644375        6     3.5
198  118254.0  0.644375       10     3.0

In [31]:
top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']
top_users_ratings.head()

       userId      corr  movieId  rating  weighted_rating
194  118254.0  0.644375        1     2.0         1.288751
195  118254.0  0.644375        2     2.5         1.610939
196  118254.0  0.644375        3     2.5         1.610939
197  118254.0  0.644375        6     3.5         2.255314
198  118254.0  0.644375       10     3.0         1.933126

In [32]:
top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})

         weighted_rating
movieId
1               2.029113
2               1.720057
3               1.484377
5               1.072693
6               2.123694
...                  ...
118696          1.928330
118700          1.928330
118702          1.928330
118985          1.928330
119141          1.928330

[5386 rows x 1 columns]

In [33]:
recommendation_df = top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})

recommendation_df = recommendation_df.reset_index()

In [34]:
recommendation_df.head()

   movieId  weighted_rating
0        1         2.029113
1        2         1.720057
2        3         1.484377
3        5         1.072693
4        6         2.123694

In [35]:
recommendation_df[["movieId"]].nunique()

movieId    5386
dtype: int64

In [36]:
movies_to_be_recommend = recommendation_df[recommendation_df["weighted_rating"] > 3].sort_values("weighted_rating", ascending=False)

In [37]:
movies_to_be_recommend.head()

Empty DataFrame
Columns: [movieId, weighted_rating]
Index: []

In [38]:
movie = pd.read_csv('movie.csv')

In [39]:
weighted_recommendation = movies_to_be_recommend.merge(movie[["movieId", "title"]])["title"]

In [41]:
weighted_recommendation.head()

Series([], Name: title, dtype: object)

In [42]:
movie_id =rating[(rating["userId"]==user)& (rating["rating"]==5.0)].\
              sort_values(by="timestamp",ascending= False)["movieId"][0:1]
movie_id = movie_id.iloc[0]

In [43]:
def check__movie_id(movie_id):
    movie = pd.read_csv('movie.csv')
    movie_name = movie[movie["movieId"] == movie_id][["title"]].values[0].tolist()
    return movie_name

In [44]:
movie_name =check__movie_id(movie_id)

In [45]:
movie_name

['Wild at Heart (1990)']